.wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    padding: 2rem;
}

.wrapper_inner {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: .5rem;

    label {
        font-weight: bold;
        margin-top: .5rem;
    }
    input {
        padding: .8rem;
        border-radius: .5rem;
        font-size: 1.2rem;
    }

    .submit {
        width: 50%;
        background-color: var(--fg);
        color: #fff;
        font-weight: bold;
        align-self: flex-end;
        margin-block: 1rem;
    }

    .submit:hover { 
        cursor: pointer;
    }

    .submit:active { 
        transform: scale(.9);
        transition: transform .3 linear;
    }

    .error {
        color: var( --color-error);
        font-weight: 600;
    }

}